asgiref==3.8.1
cffi==1.17.1
cryptography==44.0.2
dj-database-url==2.3.0
Django==5.1.7
django-filter==25.1
djangorestframework==3.16.0
drf-jwt==1.19.2
gunicorn==23.0.0
packaging==24.2
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-http-client==3.3.7
pytz==2025.2
sendgrid==6.11.0
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
typing_extensions==4.13.0
whitenoise==6.9.0
