.navbar {
  background-color: #99e6ff;
  padding: 0px 10px 0px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.Logo {
  font-family: 'Baloo Bhai', cursive;
  font-size: 3em;
}

body {
  background-color: #f2f2f2;
}

.ReverseScoringWarning {
  padding: 0px 0px 10px 0px;
  font-size: 1.5em;
}
